/* Global styles
---------------------------- */
body {
    font-family: Papyrus, sans-serif;
    font-weight: bold;
    background-color: #dee7e7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically for a more responsive layout */
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1 {
    margin-left: 50px;
    margin-bottom: 30px;
}

h1,
h2 {
    color: #333;
}

.all-tasks h1 {
    margin-bottom: 0px;
}

/* Sidebar Menu
---------------------------- */
.menu-icon {
    position: fixed;
    top: 25px;
    left: 25px;
    cursor: pointer;
    margin: 11px;
}

.menu-icon img {
    width: 100%;
    height: auto;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #535657;
    color: #fff;
    transition: left 0.3s ease;
    padding-top: 50px;
}

.menu-icon:hover+.sidebar-menu,
.sidebar-menu:hover {
    left: 0;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 20px 0;
}

.sidebar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    display: block;
}

.sidebar-menu hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Main Task Lists
---------------------------- */
main {
    margin-left: 66px;
    margin-right: 50px;
    padding: 20px;
    flex: 1;
}

.task-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #e6e6e6;
    margin-left: 50px;
    margin-bottom: 20px;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.task-title {
    flex: 1;
    font-size: 1.1em;
}

.task-due-date {
    font-size: 0.7em;
    color: #777;
    margin-left: 45px;
}

/* Buttons
---------------------------- */
.add-task {
    text-align: right;
    margin-bottom: 30px;
}

#add-task-button {
    background-color: #9fae9e;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.8em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    box-sizing: border-box;
    padding: 0;
}

.delete-task-button,
.edit-task-button,
.prioritize-task-button {
    font-family: Papyrus, sans-serif;
    font-weight: bold;
    background-color: #4F646F;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.prioritize-task-button {
    background-color: #8f79c4;
}

/* Checkbox Styles
---------------------------- */
.task-checkbox {
    appearance: none; /* Remove default checkbox styling */
    width: 20px;
    height: 20px;
    border: 2px solid #4F646F;
    border-radius: 50%; /* Make the checkbox circular */
    cursor: pointer;
    margin-right: 20px;
}

.task-checkbox:checked {
    background-color: #8f79c4; /* Change background color when checked */
}

/* Responsive Design
---------------------------- */
@media (max-width: 768px) {
    h1 {
        margin-left: 9vw;
        margin-top: 0;
    }

    body {
        font-size: 3vw;
    }

    .menu-icon {
        left: 10px;
        top: 7px;
        width: 9vw;
        margin-left: 0px;
        margin-right: 0px;
    }

    .sidebar-menu {
        width: 200px;
    }

    main {
        margin: 0px;
    }

    .task-container {
        padding: 10px;
        margin-left: 9vw;
    }

    .add-task {
        margin-bottom: 2.5vw;
    }

    #add-task-button {
        width: 8vw;
        height: 8vw;
        font-size: 5vw;
    }

    .delete-task-button,
    .edit-task-button,
    .prioritize-task-button {
        padding: 1vw 2vw;
        font-size: 2.5vw;
        margin-left: 2.5vw;
    }

    .task-checkbox {
        width: 3vw;
        height: 3vw;
        margin-right: 2vw;
    }

    .task-due-date {
        margin-left: 1.5vw;
    }
}
